<!DOCTYPE html>
<html lang="en">

<head>
	<title>conversion USD to INR</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon1.ico" />
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="https://unpkg.com/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('/images/bg-01.jpg');">
			<div class="wrap-login100" id="loginForm" method="post">
				<form class="login100-form validate-form" id="loginForm" action="/" method="post">
					<span class="login100-form-logo">
						<img src="/images/icons/favicon1.ico" height="70" width="70">
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>


					<br>
					<br>
					<div class="wrap-input100 validate-input" data-validate="Enter username">
						<input class="input100" type="email" name="loginMail" id="loginMail" placeholder="Mail ID" required="">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" id="loginPassword" name="loginPassword" placeholder="Password" required="">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" name="login">
							Login
						</button>
					</div>

					<% if(login_status === "user_does_not_exist") { %>
					<script type='text/javascript'>
						swal({
							title: 'MAil ID does not exist',
							text: "Go to register page and create an account",
							icon: 'warning'
						});
					</script>

					<% } %>

					<% if(login_status === "user_password_woring") { %>
					<script type='text/javascript'>
						swal({
							title: 'Wrong password',
							text: "Try to think password",
							icon: 'warning'
						});
					</script>

					<% } %>


				</form>

				<br>

				<div class="container-login100-form-btn">
					<a href="/signup" style="color: #e6e6ff">Signup</a>
				</div>

			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

</body>

</html>
